/* CUSTOM PROPERTIES
----------------------------------- */

:root {
  --color-turquoise: #2ab2af;
  --color-light-turquoise: #49bebd;
  --color-gray: #98a6bd;
  --color-light-gray: #e5eff5;
  --color-lemon-green: #c0df34;
  --color-white: #ffffff;
}

/* GLOBAL STYLES
-------------------------------------- */

body {
  background: var(--color-white);
  width: 50%;
  margin: 0 auto;
}

.card-container {
  font-family: "Karla", sans-serif;
  background: var(--color-white);
  margin-top: 70px;
  border-radius: 7px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
}

.header-section {
  &:not(h1) {
    color: var(--color-gray);
  }

  h1 + p {
    font-weight: bold;
  }

  & {
    padding: 10px 25px;
  }
}

.main-heading {
  color: var(--color-turquoise);
}

.guarantee {
  color: var(--color-lemon-green);
}

.main-container {
  display: flex;
}

.first-part {
  background-color: var(--color-turquoise);
  color: var(--color-white);
  padding-right: 80px;
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 30px;
  border-bottom-left-radius: 7px;
}

.price {
  font-size: 30px;
  margin-bottom: 0;
}

.access {
  margin-bottom: 30px;
}

.subscription {
  font-size: 16px;
  color: var(--color-light-gray);
}

.link {
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-lemon-green);
  padding: 10px 30px;
  margin-top: 30px;
  border-radius: 5px;
  padding-right: 75px;
}

.second-part {
  background-color: var(--color-light-turquoise);
  color: var(--color-white);
  padding-right: 100px;
  border-bottom-right-radius: 7px;
}

.provision-title {
  padding-left: 40px;
  padding-top: 15px;
  margin-top: 20px;
}

.provision {
  color: var(--color-light-gray);
  list-style-type: none;
  margin-bottom: 30px;
}

.list-item {
  margin-bottom: 5px;
}

@media (max-width: 800px) {
  .header-section,
  .main-container {
    display: block;
  }

  .link {
    padding-right: 130px;
    margin-left: 0;
  }

  .first-part {
    border-radius: 0;
  }

  .second-part {
    border-radius: 0;
    padding-left: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .provision-title {
    margin-left: 15px;
  }

  .provision {
    padding-left: 20px;
  }
}
